body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
p{
	font-size: 50px;
	text-align: center;
  color: hsl(30, 100%, 50%);
  border-style: outset;
  border-color: white;
}



#result
{
  position:  absolute;
  left: 30%;
  top: 20%;

}
